.nice_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000bb;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.nice_overlay.show {
    z-index: 9;
    visibility: visible;
    opacity: 1;
}
.nice_overlay.all_page{
    position: fixed;
}

.nice_overlay.all_page.show {
    z-index: 9999;
}

.loader {
    position: relative;
    border: 3px solid transparent;
    border-top-color: var( --accent_border_color );
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity var( --regular_transition );
}

.loader.go {
    opacity: 1;
    animation: spin 1s linear infinite;
}

.loader:before {
    content: ' ';
    border: 3px solid transparent;
    border-top-color: var( --accent_hover_border_color );
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border-radius: 50%;
    transition: opacity var( --regular_transition );
    opacity: 0;
}

.loader.go:before {
    animation: spin 2s linear infinite;
    opacity: 1;
}

.loader:after {
    content: ' ';
    border: 3px solid transparent;
    border-top-color: var( --divider_color );
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity var( --regular_transition );
}

.loader.go:after {
    animation: spin 3s linear infinite;
    opacity: 1;
}