.nice_metabox {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.nice_metabox .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var( --divider_color );
    background: var( --content_background );
    cursor: pointer;
    border-radius: 6px 6px 0 0;
}

.nice_metabox .head .title {
    font-size: 16px;
    color: var( --regular_font_color );
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.nice_metabox .head .about_icon {
    margin-right: 8px;
}

.nice_metabox .head .collapse_icon {
    cursor: pointer;
}

.nice_metabox .head .collapse_icon svg {
    width: 16px;
    height: 16px;
}

.nice_metabox .body {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 0 0 6px 6px;
    background: var( --content_background );
    transition: var( --regular_transition );
    height: auto;
    visibility: visible;
    opacity: 1;
}

.nice_metabox.closed {

}

.nice_metabox.closed .head {
    border-radius: 6px;
}

.nice_metabox.closed .head .collapse_icon {
    transform: rotate( 180deg );
}

.nice_metabox.closed .body {
    padding: 0;
    visibility: hidden;
    opacity: 0;
    height: 0;
}