.nice_field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin-right: 16px;
    font-family: var( --regular_font_family );
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: center;
}

.nice_field.large {
    min-width: 320px;
    min-height: 80px;
}

.nice_field.medium {
    min-width: 270px;
    min-height: 70px;
}

.nice_field.small {
    min-width: 220px;
    min-height: 60px;
}

.nice_field.tiny {
    min-width: 170px;
    min-height: 50px;
}

.nice_field.no_min_width {
    min-width: 0;
}

.nice_field.align_center .input {
    text-align: center;
    justify-content: center;
}

.nice_field:last-of-type {
    margin-bottom: 0;
}

.nice_field .label {
    font-size: 16px;
    color: var( --support_font_color );
    margin-bottom: 2px;
}

.nice_field .area {
    display: inline-flex;
    position: relative;
    min-width: 270px;
    flex-wrap: wrap;
}

.nice_field.no_min_width .area {
    min-width: 0;
}

.nice_field .head_wrapper {
    width: 100%;
    cursor: pointer;
}

.nice_field .input {
    display: inline-flex;
    color: var( --field_font_color );
    background-color: var( --field_background );
    outline: none;
    transition: 0.4s;
    border-radius: 6px;
    padding: 12px 48px 12px 24px;
    overflow-x: hidden;
    word-break: break-word;
    min-width: 100%;
}

.nice_field.regular_border .input {
    border: 1px solid var( --field_border );
}

.nice_field.regular_border .input:focus {
    border-color: var( --field_focus_color );
    box-shadow: 0 0 4px 2px var( --field_focus_color );
}

.nice_field.only_bottom_border .input {
    border-bottom: 1px solid var( --field_border );
    border-radius: 0;
}

.nice_field.only_bottom_border .input:focus {
    border-bottom: 1px solid var( --field_focus_color );
}

/** Large **/

.nice_field.large .input {
    font-size: 22px;
    padding: 14px 70px 14px 24px;
}

.nice_field.only_bottom_border.large .input {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nice_field.large input.input {
    width: 320px;
}

.nice_field.large .label {
    font-size: 14px;
    padding-left: 24px;
}

/** Medium **/

.nice_field.medium .input {
    font-size: 20px;
    padding: 12px 60px 12px 18px;
}

.nice_field.only_bottom_border.medium .input {
    padding-top: 4px;
    padding-bottom: 4px;
}

.nice_field.medium input.input {
    width: 270px;
}

.nice_field.medium .label {
    font-size: 12px;
    padding-left: 18px;
}

/** Small **/

.nice_field.small .input {
    font-size: 16px;
    padding: 10px 50px 10px 12px;
}

.nice_field.only_bottom_border.small .input {
    padding-top: 3px;
    padding-bottom: 3px;
}

.nice_field.small input.input {
    width: 220px;
}

.nice_field.small .label {
    font-size: 11px;
    padding-left: 12px;
}

/** Tiny **/

.nice_field.tiny .input {
    font-size: 14px;
    padding: 8px 40px 6px 8px;
}

.nice_field.only_bottom_border.tiny .input {
    padding-top: 2px;
    padding-bottom: 2px;
}

.nice_field.tiny input.input {
    width: 170px;
}

.nice_field.tiny .label {
    font-size: 10px;
    padding-left: 8px;
}

.nice_field .input.hidetext {
    font-family: text-security-disc, sans-serif;
}

.nice_field.large.with_icon .input {
    padding-left: 62px;
}

.nice_field.medium.with_icon .input {
    padding-left: 56px;
}

.nice_field.small.with_icon .input {
    padding-left: 50px;
}

.nice_field.tiny.with_icon .input {
    padding-left: 44px;
}

.nice_field .input[contenteditable=true]:empty:before {
    content: attr(data-placeholder);
    display: block;
    color: var( --field_placeholder );
    cursor: text;
    font-weight: normal;
}

.nice_field.large .input[contenteditable=true]:empty:before {
    font-size: 22px;
}

.nice_field.medium .input[contenteditable=true]:empty:before {
    font-size: 18px;
}

.nice_field.small .input[contenteditable=true]:empty:before {
    font-size: 15px;
}

.nice_field.tiny .input[contenteditable=true]:empty:before {
    font-size: 14px;
}

.nice_field .input::placeholder {
    font-size: 18px;
    color: var( --field_placeholder );
    font-weight: normal;
    cursor: text;
}

.nice_field.large .input::placeholder {
    font-size: 22px;
}

.nice_field.medium .input::placeholder {
    font-size: 18px;
}

.nice_field.small .input::placeholder {
    font-size: 15px;
}

.nice_field.tiny .input::placeholder {
    font-size: 14px;
}

.nice_field .input[data-required=true]:after {
    content: '*';
    position: absolute;
    color: var( --sub_font_color );
    top: 4px;
    left: 4px;
}

.nice_field .field_icon {
    display: flex;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.nice_field .field_icon.click_able:hover svg {
    fill: var( --icon_hover_color );
}

.nice_field .field_icon:hover svg {
    fill: var( --icon_color );
}

/** Special labels **/

.nice_field.over_border .label {
    position: absolute;
    top: 5px;
    z-index: 10;
    background: var(--content_background);
    padding: 0 2px;
    left: 18px;
}

.nice_field.over_border.large .label {
    top: 7px;
    left: 24px;
}

.nice_field.over_border.medium .label {
    top: 5px;
    left: 18px;
}

.nice_field.over_border.small .label {
    top: 3px;
    left: 12px;
}

.nice_field.over_border.tiny .label {
    top: 0;
    left: 8px;
}

/** Validating **/

.nice_field .error_message,
.nice_field .error_icon,
.nice_field .success_icon {
    display: none;
}

.nice_field.error .input {
    border-color: var( --field_validate_error );
    box-shadow: 0 0 4px 2px var( --field_validate_error );
}

.nice_field.error .error_message {
    display: flex;
    color: var( --field_validate_error );
    padding-top: 6px;
}

.nice_field.error .error_icon {
    position: absolute;
    right: 12px;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.nice_field.error .error_icon svg {
    width: 24px;
    height: 24px;
    fill: var( --field_validate_error );
}

.nice_field.success .input {
    border-color: var( --field_validate_success );
    box-shadow: 0 0 4px 2px var( --field_validate_success );
}

.nice_field.success .success_icon {
    position: absolute;
    right: 12px;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.nice_field.success .success_icon svg {
    width: 24px;
    height: 24px;
    fill: var( --field_validate_success );
}

/** Selection arrow for drop down **/

.nice_field .selector_arrow {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    cursor: pointer;
}

.nice_field .area.open .selector_arrow svg {
    transform: rotate(180deg);
}

/** Selection List for drop down **/

.nice_field .selections_list {
    position: absolute;
    top: calc( 100% + 4px );
    opacity: 0;
    height: 0;
    width: 100%;
    visibility: hidden;
    transition: var( --regular_transition );
    background-color: var( --content_background );
    /*border: var( --divider_color );*/
    cursor: pointer;
    max-height: 35vh;
    overflow-y: auto;
    z-index: 2;
}

.nice_field .area.open .selections_list {
    opacity: 1;
    height: auto;
    visibility: visible;
}

.nice_field .selection_list__element {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var( --divider_color );
    padding: 8px;
    transition: var( --regular_transition );
    visibility: visible;
    opacity: 1;
    height: auto;
}

.nice_field .selection_list__element:last-of-type {
    border-bottom: none;
}

.nice_field .selection_list__element.checked {
    background-color: #0000bb11;
}

.nice_field .selection_list__element:hover {
    background-color: #00000022;
}

.nice_field .selection_list__element.checked:hover {
    background-color: #0000bb66;
}

.nice_field .selection_list__element.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.nice_field .selection_list__element_icon,
.nice_field .selection_list__element_check {
    display: flex;
    flex-shrink: 0;
}

.nice_field .selection_list__element_check {
    position: absolute;
    right: 8px;
    border: 3px solid var( --divider_color );
    padding: 1px;
    opacity: 0.5;
    transition: var( --regular_transition );
    border-radius: 4px;
}

.nice_field .selection_list__element_check svg {
    fill: transparent;
}

.nice_field .selection_list__element:hover .selection_list__element_check {
    opacity: 1;
    border-color: var( --icon_color );
}

.nice_field .selection_list__element:hover .selection_list__element_check svg {
    fill: var( --icon_color );
    opacity: 1;
}

.nice_field .selection_list__element.checked .selection_list__element_check {
    opacity: 1;
}

.nice_field .selection_list__element.checked .selection_list__element_check svg {
    fill: var( --success );
}

.nice_field .selection_list__element.checked:hover .selection_list__element_check {
    border-color: #00000044;
}

.nice_field .selections_list.single .selection_list__element_check {
    border-radius: 50%;
}