.modal_area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    background-color: #000000aa;
    z-index: 10;
    transition: var( --regular_transition );
}

.modal_area.show {
    opacity: 1;
    visibility: visible;
}

.nice_modal {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: stretch;
    max-width: 90vw;
    max-height: 90vh;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
}

.nice_modal .header {
    position: relative;
    height: 50px;
    background-color: var( --content_background );
    border-bottom: 1px solid var( --divider_color );
    padding: 9px 90px 9px 32px; /** That's for Absolute positioned control buttons **/
    font-size: 24px;
    font-weight: 600;
}

.nice_modal .header .title {
    color: var( --accent_font_color );
    font-size: 24px;
}

.nice_modal .header .control {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
}

.nice_modal .header .control .nice_svg {
    margin-right: 16px;
}

.nice_modal .header .control .nice_svg:last-of-type {
    margin-right: 0;
}

.nice_modal .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 16px 32px;
    overflow-y: auto;
    min-height: 30vh;
    min-width: 400px;
    max-width: 740px;
    border-bottom: 1px solid var( --divider_color );
    background-color: var( --content_background );
}

.nice_modal .body .nice_field {

}

.nice_modal .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 8px 16px 8px 32px; /** That's for submit button **/
    background-color: var( --content_background );
    flex-shrink: 0;
}

/** Special **/

.nice_modal .close_button svg:hover {
    fill: var( --bad_button );
}

/** Modal Tabs **/

.nice_modal .modal_tab_divider {
    width: 2px;
    height: 100%;
    background-color: var( --divider_color );
}

.nice_modal .tabs_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nice_modal .tabs_nav .nice_svg {
    margin-right: 12px;
}

.nice_modal .tabs_nav .tab_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var( --second_font_color );
    opacity: 0.8;
    transition: var( --regular_transition );
    cursor: pointer;
}

.nice_modal .tabs_nav .tab_name.current {
    color: var( --accent_font_color );
    opacity: 1;
    border-bottom: 2px solid;
}

.nice_modal .tabs_nav .tab_name.current svg {
    fill: var( --icon_hover_color );
}

.nice_modal .tabs_content {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.nice_modal .tab {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: var( --regular_transition );
    overflow: hidden;
    padding: 4px;
}

.nice_modal .tab.current {
    visibility: visible;
    opacity: 1;
    height: auto;
}