.modal_area {
    position: fixed;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
    z-index: 10;
    visibility: hidden;
    background-color: #000000aa;
    transition: var( --regular_transition );
    overflow-y: auto;
}

.modal_area.show {
    display: flex;
    opacity: 1;
    bottom: 0;
    left: 0;
    visibility: visible;
}

.nice_modal {
    position: relative;
    min-width: 460px;
    max-width: 90vw;
    max-height: 95vh;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 6px;
}

.nice_modal .header {
    position: relative;
    height: 68px;
    background-color: var( --content_background );
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid var( --divider_color );
    font-weight: 600;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nice_modal .header .title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: var(--sub_font_color);
}

.nice_modal .header .control {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
}

.nice_modal .header .control nice-svg {
    margin-right: 16px;
    border: 2px solid #E0E0E0;
    padding: 5px;
    border-radius: 50%;
}

.nice_modal .header .control nice-svg:last-of-type {
    margin-right: 0;
}

.nice_modal .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding:25px;
    overflow-y: auto;
    min-height: 30vh;
    min-width: 33vw;
    max-width: 75vw;
    max-height: calc(95vh - 15vh);
    border-bottom: 1px solid var( --divider_color );
    background-color: var( --content_background );
}

.nice_modal .body .nice_field {

}

.nice_modal .footer {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 15px 25px;
    background-color: var( --content_background );
    flex-shrink: 0;
}

/** Special **/


/** Modal Tabs **/

.nice_modal .modal_tab_divider {
    width: 2px;
    height: 100%;
    background-color: var( --divider_color );
}

.nice_modal .tabs_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nice_modal .tabs_nav nice-svg {
    margin-right: 12px;
}

.nice_modal .tabs_nav .tab_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var( --second_font_color );
    opacity: 0.8;
    transition: var( --regular_transition );
    cursor: pointer;
}

.nice_modal .tabs_nav .tab_name.current {
    color: var( --accent_font_color );
    opacity: 1;
    border-bottom: 2px solid;
}

.nice_modal .tabs_nav .tab_name.current svg {
    fill: var( --icon_hover_color );
}

.nice_modal .tabs_content {
    padding: 16px 0;
}

.nice_modal .tab {
    visibility: hidden;
    opacity: 0;
    display: none;
    height: 0;
    transition: var( --regular_transition );
}

.nice_modal .tab.current {
    visibility: visible;
    opacity: 1;
    display: block;
    height: auto;
}

nice-modal_area {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    background-color: #000000aa;
    z-index: 10;
    transition: var( --regular_transition );
}

nice-modal_area.show {
    bottom: 0;
    left: 0;
    opacity: 1;
    display: flex;
    visibility: visible;
}

nice-modal {
    display: none;
    position: relative;
    min-width: 320px;
    max-width: 90vw;
    max-height: 98vh;
    box-sizing: border-box;
}

nice-modal.show {
    display: flex;
    flex-direction: column;
}

nice-modal .header {
    position: relative;
    height: 60px;
    background-color: var( --content_background );
    border-bottom: 1px solid var( --divider_color );
    font-weight: 600;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px 6px 0 0;
}

nice-modal .header .title {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: var(--sub_font_color);
}

nice-modal .header .title nice-svg {
    margin-right: 8px;
}

nice-modal .header .control {
    display: flex;
    align-items: center;
}

nice-modal .header .control nice-svg {
    margin-right: 8px;
    border: 2px solid #E0E0E0;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

nice-modal .header .control nice-svg svg {
    width: 12px;
    height: 12px;
}

nice-modal .header .control nice-svg:last-of-type {
    margin-right: 0;
}

nice-modal .header .control nice-svg:last-of-type:hover svg {
    fill: var( --icon_close_delete );
}

nice-modal .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 16px 25px 16px;
    overflow-y: auto;
    min-height: 30vh;
    min-width: 33vw;
    max-width: 100%;
    max-height: calc( 100vh - 120px);
    border-bottom: 1px solid var( --divider_color );
    background-color: var( --content_background );
    position: relative;
}

nice-modal .body.no_padding {
    padding: 0;
}

nice-modal .body .nice_field {

}

nice-modal .footer {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 15px 25px;
    background-color: var( --content_background );
    flex-shrink: 0;
    border-radius:  0 0 6px 6px;
}

/** Special **/


/** Modal Tabs **/

nice-modal .modal_tab_divider {
    width: 2px;
    height: 100%;
    background-color: var( --divider_color );
}

nice-modal .tabs_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nice-modal .tabs_nav nice-svg {
    margin-right: 12px;
}

nice-modal .tabs_nav .tab_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var( --second_font_color );
    opacity: 0.8;
    transition: var( --regular_transition );
    cursor: pointer;
}

nice-modal .tabs_nav .tab_name.current {
    color: var( --accent_font_color );
    opacity: 1;
    border-bottom: 2px solid;
}

nice-modal .tabs_nav .tab_name.current svg {
    fill: var( --icon_hover_color );
}

nice-modal .tabs_content {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

nice-modal .tab {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: var( --regular_transition );
    overflow: hidden;
}

nice-modal .tab.current {
    visibility: visible;
    opacity: 1;
    height: auto;
}

/** Modal List **/

nice-modal_list {
    height: auto;
    position: fixed;
    z-index: 9;
    right: 16px;
    min-width: 240px;
    bottom: 16px;
    background-color: var( --content_background );
}

nice-modal_list .collapsed_modal {
    padding: 8px 12px;
    border-bottom: 1px solid var( --divider_color );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nice-modal_list .collapsed_modal:last-of-type {
    border-bottom: none;
}

nice-modal_list .collapsed_modal .title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var( --regular_font_color );
    margin-right: 16px;
}

nice-modal_list .collapsed_modal .title nice-svg {
    margin-right: 8px;
}

nice-modal_list .collapsed_modal .controls {
    display: flex;
    align-items: center;
}

nice-modal_list .collapsed_modal .controls nice-svg {
    margin-right: 8px;
    cursor: pointer;
}

nice-modal_list .collapsed_modal .controls nice-svg svg {
    width: 20px;
    height: 20px;
}

nice-modal_list .collapsed_modal .controls nice-svg:last-of-type:hover svg {
    fill: var( --icon_close_delete );
}

@media (max-width: 800px) {
    .nice_modal{
        width: 90%;
        min-width: auto;
    }
    .nice_modal .header .title {
        font-size: 16px;
        line-height: 18px;
    }
    .nice_modal .body {
        max-width: 100%;
    }
    nice-modal{
        width: 90%;
        min-width: auto;
    }
    nice-modal .header .title {
        font-size: 16px;
        line-height: 18px;
    }
    nice-modal .body {
        max-width: 100%;
    }
}