.modal_area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    background-color: #000000aa;
    z-index: 10;
    transition: var( --regular_transition );
}

.modal_area.show {
    opacity: 1;
    visibility: visible;
}

.nice_modal {
    position: relative;
    min-width: 460px;
    max-width: 90vw;
    max-height: 90vh;
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.nice_modal .header {
    position: relative;
    height: 68px;
    background-color: var( --content_background );
    border-bottom: 1px solid var( --divider_color );
    font-weight: 600;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nice_modal .header .title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: var(--sub_font_color);
}

.nice_modal .header .control {
    display: flex;
    align-items: center;
}

.nice_modal .header .control .nice_svg {
    margin-right: 16px;
    border: 2px solid #E0E0E0;
    padding: 2px;
    border-radius: 50%;
}

.nice_modal .header .control .nice_svg:last-of-type {
    margin-right: 0;
}

.nice_modal .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 42px 25px 16px;
    overflow-y: auto;
    min-height: 30vh;
    min-width: 400px;
    max-width: 740px;
    max-height: 60vh;
    border-bottom: 1px solid var( --divider_color );
    background-color: var( --content_background );
}

.nice_modal .body .nice_field {

}

.nice_modal .footer {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 15px 25px;
    background-color: var( --content_background );
    flex-shrink: 0;
}

/** Special **/


/** Modal Tabs **/

.nice_modal .modal_tab_divider {
    width: 2px;
    height: 100%;
    background-color: var( --divider_color );
}

.nice_modal .tabs_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nice_modal .tabs_nav .nice_svg {
    margin-right: 12px;
}

.nice_modal .tabs_nav .tab_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var( --second_font_color );
    opacity: 0.8;
    transition: var( --regular_transition );
    cursor: pointer;
}

.nice_modal .tabs_nav .tab_name.current {
    color: var( --accent_font_color );
    opacity: 1;
    border-bottom: 2px solid;
}

.nice_modal .tabs_nav .tab_name.current svg {
    fill: var( --icon_hover_color );
}

.nice_modal .tabs_content {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.nice_modal .tab {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: var( --regular_transition );
    overflow: hidden;
    padding: 4px;
}

.nice_modal .tab.current {
    visibility: visible;
    opacity: 1;
    height: auto;
}