/*------------------------------settings--------------------------------------*/
.nice_settings {
    display: flex;
    flex-direction: column;
    background: var( --content_background );
    font-family: var(--regular_font_family), sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;
    height: 93vh;
    width: calc(100% - 16px);
    margin-top: 16px;
}

.nice_settings .settings_header,
.nice_settings .settings_buttons {
    display: flex;
    align-items: center;
}

.nice_settings .settings_buttons .nice_button {
    margin-right: 12px;
}

.nice_settings .settings_buttons .CollapseAllTabsBloocks svg {
    transform: rotate( 180deg );
}

.nice_settings .settings_buttons .CollapseAllTabsBloocks:hover svg,
.nice_settings .settings_buttons .ExpandAllTabsBlocks:hover svg {
    fill: var( --icon_reverce_accent_color );
    opacity: 1;
}

.nice_settings .settings_body {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    overflow: hidden;
}

.nice_settings .settings_header {
    height: 50px;
    border-bottom: 1px solid var( --divider_color );
    padding: 0 16px;
    justify-content: space-between;
}

.nice_settings .settings_title {
    font-size: 24px;
    color: var( --regular_font_color );
    margin-right: 24px;
}

/** Settings navigation **/

.nice_settings .settings_navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var( --divider_color );
}

.nice_settings .tabs_head {
    display: flex;
    flex-direction: column;
}

.nice_settings .settings_navigation .menu_item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding: 0 24px 0 16px;
    border-bottom: 1px solid var( --divider_color );
    cursor: pointer;
    z-index: 3;
}

.nice_settings .settings_navigation .menu_item:last-of-type {
    border-bottom: none;
}

.nice_settings .settings_navigation .menu_item .item_name {
    font-size: 18px;
    font-family: var( --regular_font_family );
    color: var( --second_font_color );
    font-weight: 600;
    opacity: var( --opacity_notfocus );
    transition: var( --regular_transition );

}

.nice_settings .settings_navigation .menu_item nice-svg {
    margin-right: 8px;
}

.nice_settings .settings_navigation .menu_item nice-svg svg {
    fill: var( --icon_color );
}

.nice_settings .settings_navigation .menu_item:hover .item_name,
.nice_settings .settings_navigation .menu_item:hover nice-svg svg {
    opacity: 1;
    color: var( --accent_hover_font_color );
    fill: var( --accent_hover_icon_color );
}

.nice_settings .settings_navigation .menu_item.current {
    border-bottom: 1px solid var( --divider_color );
    background-color: var( --accent_background );
}

.nice_settings .settings_navigation .menu_item.current .item_name {
    color: var( --font_reverce_accent_color );
    opacity: 1;
}

.nice_settings .settings_navigation .menu_item.current nice-svg svg {
    fill: var( --icon_reverce_accent_color);
    opacity: 1;
}

.nice_settings .settings_navigation .menu_item.current:before,
.nice_settings .settings_navigation .menu_item.current:after {
    display: block;
    content: ' ';
    position: absolute;
    right: -25px;
    border-right: 25px solid transparent;
}

.nice_settings .settings_navigation .menu_item.current:before {
    border-top: 25px solid var( --accent_background );
    bottom: 0;
}

.nice_settings .settings_navigation .menu_item.current:after {
    border-bottom: 25px solid var( --accent_background );
    top: 0;
}

.nice_settings .settings_navigation.collapsed .menu_item  {
    padding: 0 16px;
    justify-content: center;
    width: 50px;
}

.nice_settings .settings_navigation.collapsed .menu_item nice-svg {
    margin-right: 0;
}

.nice_settings .settings_navigation.collapsed .menu_item .item_name {
    opacity: 0;
    visibility: hidden;
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 16px );
    padding: 8px 24px;
    box-shadow: 0 0 6px #00000066;
    min-width: 130px;
    background-color: #ffffff;
    border-radius: 4px;
    color: var( --regular_font_color );
}

.nice_settings .settings_navigation.collapsed .menu_item:hover .item_name {
    opacity: 1;
    visibility: visible;
    width: max-content;
}

.nice_settings .settings_navigation.collapsed .menu_item:hover .item_name:before,
.nice_settings .settings_navigation.collapsed .menu_item:hover .item_name:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nice_settings .settings_navigation.collapsed .menu_item:hover .item_name:before {
    border: 10px solid;
    border-color: transparent #ccc;
    border-left-width: 0;
    left: -10px;
}

.nice_settings .settings_navigation.collapsed .menu_item:hover .item_name:after {
    border: 9px solid;
    border-color: transparent #fff;
    border-left-width: 0;
    left: -8px;
}

.nice_settings .settings_navigation.collapsed .menu_item.current .item_name {
    left: calc(100% + 35px );
}

.nice_settings .settings_navigation .menu_toggle {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.nice_settings .settings_navigation .menu_toggle nice-svg {
    margin-right: 16px;
}

.nice_settings .settings_navigation .menu_toggle .text {
    font-size: 18px;
    font-weight: 600;
    color: var( --second_font_color );
    transition: var( --regular_transition);
    opacity: var( --opacity_notfocus );
}

.nice_settings .settings_navigation .menu_toggle nice-svg svg {
    transform: rotate(90deg);
}

.nice_settings .settings_navigation .menu_toggle:hover nice-svg svg {
    fill: var( --accent_hover_icon_color );
    opacity: 1;
}

.nice_settings .settings_navigation .menu_toggle:hover .text {
    color: var( --accent_hover_font_color );
    opacity: 1;
}

.nice_settings .settings_navigation.collapsed .menu_toggle {
    justify-content: center;
}

.nice_settings .settings_navigation.collapsed .menu_toggle nice-svg{
    margin-right: 0;
}

.nice_settings .settings_navigation.collapsed .menu_toggle nice-svg svg {
    transform: rotate(270deg);
}

.nice_settings .settings_navigation.collapsed .menu_toggle .text {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

/** Settings Content **/

.nice_settings .settings_content {
    overflow-y: auto;
}

.nice_settings .tabs_content {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: var( --regular_transition );
    overflow: hidden;
}

.nice_settings .tabs_content.current {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.nice_settings .tabs_content .custom_content {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
}

/** Settings Blocks **/

.nice_settings .setting_block .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    background-color: var( --sub_bacground );
    height: 50px;
    cursor: pointer;
    transition: var( --regular_transition );
    border-bottom: 1px solid var( --divider_color );
}

.nice_settings .setting_block .header:hover {
    background-color: var( --accent_sub_background );
}

.nice_settings .setting_block .header .meta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nice_settings .setting_block .header .title {
    font-size: 20px;
    font-weight: 600;
    color: var( --regular_font_color );
}

.nice_settings .setting_block .header .toggle_block_icon svg {
    transform: rotate( 180deg );
    opacity: 1;
}

.nice_settings .setting_block.collapsed .header .toggle_block_icon svg {
    transform: rotate( 0deg );
}

.nice_settings .setting_block .header:hover .toggle_block_icon svg,
.nice_settings .setting_block .header:hover .block_icon svg {
    fill: var( --icon_reverce_accent_color );
}

.nice_settings .setting_block .header .block_icon {
    margin-right: 8px;
}

.nice_settings .setting_block .header .block_icon svg {
    opacity: 1;
}

.nice_settings .setting_block .content {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    transition: var(--regular_transition);
    opacity: 1;
    visibility: visible;
    height: auto;
}

.nice_settings .setting_block.collapsed .content {
    visibility: hidden;
    height: 0;
    opacity: 0;
    padding: 0 32px;
}

nice-settings {
    display: flex;
    flex-direction: column;
    background: var( --content_background );
    font-family: var(--regular_font_family), sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    height: 75vh;
    width: 100%;
}

nice-settings .settings_header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid var( --divider_color);
}

nice-settings .settings_header .settings_title {
    font-size: 22px;
    color: var( --font_title_color );
    font-weight: 600;
}

nice-settings .settings_header .settings_buttons {
    display: flex;
}

nice-settings .settings_header .settings_buttons nice-button {
    margin-right: 16px;
}

nice-settings .settings_header .settings_buttons nice-button:last-of-type {
    margin-right: 0;
}

nice-settings .settings_body {
    display: flex;
    flex: 1;
}

nice-settings .settings_sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 240px;
    width: fit-content;
    border-right: 1px solid var( --divider_color);
}

nice-settings .settings_menu {
    display: flex;
    flex-direction: column;
}

nice-settings .settings_sidebar .menu_element {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid var( --divider_color);
    cursor: pointer;
    background-color: var( --field_select_background );
    transition: 0.4s;
    height: 48px;
    position: relative;
}

nice-settings .settings_sidebar .menu_element:last-of-type {
    border-bottom: none;
}

nice-settings .settings_sidebar .menu_element .element_text {
    transition: 0.4s;
    color: var( --field_select_text );
}

nice-settings .settings_sidebar .menu_element svg {
    margin-right: 8px;
    fill: var( --field_select_icon );
}

nice-settings .settings_sidebar .menu_element:hover {
    background-color: var(  --field_select_background_hover );
}

nice-settings .settings_sidebar .menu_element:hover .element_text {
    color: var( --field_select_text_hover );
}

nice-settings .settings_sidebar .menu_element:hover svg {
    fill: var( --field_select_icon_hover );
}

nice-settings .settings_sidebar .menu_element.current {
    background-color: var( --field_select_background_checked );
}

nice-settings .settings_sidebar .menu_element.current .element_text {
    color: var( --field_select_text_checked );
}

nice-settings .settings_sidebar .menu_element.current svg {
    fill: var( --field_select_icon_checked );
}

nice-settings .settings_sidebar .menu_element.current:hover {
    background-color: var( --field_select_background_remove );
}

nice-settings .settings_sidebar .menu_element.current:hover .element_text {
    color: var( --field_select_text_remove );
}

nice-settings .settings_sidebar .menu_element.current:hover svg {
    fill: var( --field_select_icon_remove );
}

nice-settings .settings_sidebar .menu_element.current:before,
nice-settings .settings_sidebar .menu_element.current:after {
    content: '';
    display: block;
    position: absolute;
    right: -24px;
    transition: 0.4s;
}

nice-settings .settings_sidebar .menu_element.current:before {
    border: 12px solid;
    top: 0;
    border-color: transparent transparent var( --field_select_background_checked ) var( --field_select_background_checked );
}

nice-settings .settings_sidebar .menu_element.current:after {
    border: 12px solid;
    bottom: 0;
    border-color: var( --field_select_background_checked ) transparent transparent  var( --field_select_background_checked );
}

nice-settings .settings_sidebar .menu_element.current:hover:before {
    border-color: transparent transparent var( --field_select_background_remove ) var( --field_select_background_remove );
}

nice-settings .settings_sidebar .menu_element.current:hover:after {
    border-color: var( --field_select_background_remove ) transparent transparent  var( --field_select_background_remove );
}

/** Collapsed Sidebar **/

nice-settings .settings_sidebar.collapsed .menu_element {
    min-width: 60px;
}

nice-settings .settings_sidebar.collapsed .menu_element .element_text {
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var( --divider_color );
    opacity: 0;
    visibility: hidden;
    width: max-content;
    padding: 4px 8px;
    border-radius: 6px;
}

nice-settings .settings_sidebar.collapsed .menu_element .element_text:before,
nice-settings .settings_sidebar.collapsed .menu_element .element_text:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nice-settings .settings_sidebar.collapsed .menu_element .element_text:before {
    border: 10px solid;
    border-color: transparent var( --divider_color);
    border-left-width: 0;
    left: -10px;
}

nice-settings .settings_sidebar.collapsed .menu_element .element_text:after {
    border: 9px solid;
    border-color: transparent var(--content_background);
    border-left-width: 0;
    left: -9px;
}

nice-settings .settings_sidebar.collapsed .menu_element.current .element_text {
    left: calc(100% + 34px);
}

nice-settings .settings_sidebar.collapsed .menu_element:hover .element_text {
    opacity: 1;
    visibility: visible;
}

nice-settings .settings_content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

nice-settings .settings_tab {
    display: none;
    padding: 0 24px;
    flex-direction: column;
}

nice-settings .settings_tab.current {
    display: flex;
}